$black : black;
$btn-grey: #A0A0A0;
$btn-orange: #EB8E33;

$btn-dark-grey: #333333;



.container {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    width: 500px;
}

.result {
    font-size: 6em;
    color: white;
}
.panel {
    .panel-heading {
        background-color: $black;
        border: none;
    }
    background-color: $black;
    border: none;
}



button {
    font-size: 4em;
    width: 100px;
    height: 90px;
    border-radius: 50%;
    margin-left: 15px;
    margin-top: 9px;
    border: none;

    &:first-of-type {
        margin-left: 8px;
    }
}

.btn-orange {
    color: white;
    background-color: $btn-orange;
}
.btn-grey {
   background-color: $btn-grey;
}

.btn-dark-grey {
    background-color: $btn-dark-grey;
    color: white;
}