<div class="container">
  <div class="panel panel-default">

    <div class="panel-heading">
      <div class="row">
        <span class="result pull-right">05</span>
      </div>
    </div>

    <div class="panel-body">
      <div class="row">
        <button class="btn-grey">C</button>
        <button class="btn-grey">+/-</button>
        <button class="btn-grey">%</button>
        <button class="btn-orange">÷</button>
      </div>
      <div class="row">
        <button class="btn-dark-grey">7</button>
        <button class="btn-dark-grey">8</button>
        <button class="btn-dark-grey">9</button>
        <button class="btn-orange">×</button>
      </div>

      <div class="row">
        <button class="btn-dark-grey">4</button>
        <button class="btn-dark-grey">5</button>
        <button class="btn-dark-grey">6</button>
        <button class="btn-orange">-</button>
      </div>

      <div class="row">
          <button class="btn-dark-grey">1</button>
          <button class="btn-dark-grey">2</button>
          <button class="btn-dark-grey">3</button>
          <button class="btn-orange">+</button>
        </div>

    </div>
  </div>

</div>